
<h1>Gestures</h1>

<div class="pull-right">
<p>
  <%= link_to new_gesture_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Gesture
  <% end %>
</p>
</div>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th colspan="2"></th>
  </tr>

  <% @gestures.each do |gesture| %>
  <tr>
    <td><%= gesture.title %></td>
    <td>
      <div class="pull-right">
      <%= link_to 'Show', gesture_path(gesture), class: 'btn btn-primary btn-xs'%>
      <%= link_to 'Destroy', gesture_path(gesture),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
