<h1>New Gesture</h1>

<%= form_for @gesture, role: "form" do |f| %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div id="output"></div>

  <%= f.submit %>
<% end %>
