<h1><%= @gesture.title %></h1>

<input type="text" id="gesture_compressed_data" name="gesture_compressed_data" value="<%= @gesture.compressed_data %>" hidden />

<div id="leap-output"></div>

<button type="button" id="test-button" class="btn btn-default">Test</button>
